lutaritalisman > img {
    position: absolute;
}

lutaritalisman {
    display: block;
    position: relative;

    background-image: url(1.svg);
    background-size: 100% 100%;
    width: 100%;
    aspect-ratio: 1 / 1.004917025199754;
}

beadgroup {
    display: block;
    position: absolute;

    width: 17.55787748412211%;
    height: 16.90112130479103%;
}

beadgroup[data-group="1"] {
    left: 27.06207744314690%;
    top: 11.44770642201835%;
}

beadgroup[data-group="2"] {
    left: 46.59700880967015%;
    top: 11.29317023445464%;
}

beadgroup[data-group="3"] {
    left: 26.38598647818070%;
    top: 31.09072375127421%;
}

beadgroup[data-group="4"] {
    left: 46.13624257324319%;
    top: 31.42731906218145%;
}

beadgroup[data-group="1"] > bead[data-type="ranaka"] { background-image: url("blue_beads/ranaka.svg"); }
beadgroup[data-group="1"] > bead[data-type="matu"] { background-image: url("blue_beads/matu.svg"); }
beadgroup[data-group="1"] > bead[data-type="oranu"] { background-image: url("blue_beads/oranu.svg"); }
beadgroup[data-group="1"] > bead[data-type="tongi"] { background-image: url("blue_beads/tongi.svg"); }
beadgroup[data-group="1"] > bead[data-type="urapa"] { background-image: url("blue_beads/urapa.svg"); }

beadgroup[data-group="2"] > bead[data-type="ranaka"] { background-image: url("yellow_beads/ranaka.svg"); }
beadgroup[data-group="2"] > bead[data-type="matu"] { background-image: url("yellow_beads/matu.svg"); }
beadgroup[data-group="2"] > bead[data-type="oranu"] { background-image: url("yellow_beads/oranu.svg"); }
beadgroup[data-group="2"] > bead[data-type="tongi"] { background-image: url("yellow_beads/tongi.svg"); }
beadgroup[data-group="2"] > bead[data-type="urapa"] { background-image: url("yellow_beads/urapa.svg");}

beadgroup[data-group="3"] > bead[data-type="ranaka"] { background-image: url("red_beads/ranaka.svg"); }
beadgroup[data-group="3"] > bead[data-type="matu"] { background-image: url("red_beads/matu.svg"); }
beadgroup[data-group="3"] > bead[data-type="oranu"] { background-image: url("red_beads/oranu.svg"); }
beadgroup[data-group="3"] > bead[data-type="tongi"] { background-image: url("red_beads/tongi.svg"); }
beadgroup[data-group="3"] > bead[data-type="urapa"] { background-image: url("red_beads/urapa.svg"); }

beadgroup[data-group="4"] > bead[data-type="ranaka"] { background-image: url("green_beads/ranaka.svg"); }
beadgroup[data-group="4"] > bead[data-type="matu"] { background-image: url("green_beads/matu.svg"); }
beadgroup[data-group="4"] > bead[data-type="oranu"] { background-image: url("green_beads/oranu.svg"); }
beadgroup[data-group="4"] > bead[data-type="tongi"] { background-image: url("green_beads/tongi.svg"); }
beadgroup[data-group="4"] > bead[data-type="urapa"] { background-image: url("green_beads/urapa.svg"); }

bead {
    --bead-width: 37.33955659276546%;
    --bead-height: 38.60072376357057%;
    display: block;
    position: absolute;
    background-size: 100% 100%;
    width: var(--bead-width);
    height: var(--bead-height);
}

bead[data-type="tongi"] {
    --x-off: calc(var(--bead-width) * 0.703125);
    --y-off: calc(var(--bead-height) * 0.3890625);
}

bead[data-type="matu"] {
    --x-off: calc(var(--bead-width) * 0.50625);
    --y-off: calc(var(--bead-height) * 0.5046875);
}

bead[data-type="oranu"] {
    --x-off: calc(var(--bead-width) * 0.484375);
    --y-off: calc(var(--bead-height) * 0.484375);
}

bead[data-type="ranaka"] {
    --x-off: calc(var(--bead-width) * 0.5);
    --y-off: calc(var(--bead-height) * 0.5);
}

bead[data-type="urapa"] {
    --x-off: calc(var(--bead-width) * 0.315625);
    --y-off: calc(var(--bead-height) * 0.365625);
}

bead[data-pos="1"]{
    --x: 16.56942823803967%;
    --y: 13.69119420989144%;
}

bead[data-pos="2"]{
    --x: 86.75612602100350%;
    --y: 14.53558504221954%;
}

bead[data-pos="3"]{
    --x: 50.23337222870478%;
    --y: 50.36188178528347%;
}

bead[data-pos="4"]{
    --x: 13.24387397899650%;
    --y: 86.30880579010856%;
}

bead[data-pos="5"]{
    --x: 79.17152858809802%;
    --y: 86.18817852834741%;
}

bead[data-pos] {
    left: calc(var(--x) - var(--x-off));
    top: calc(var(--y) - var(--y-off));
}
